{% extends 'base.html' %}
{% macro display_pitches(pitches) %}
<div class="container">
    <div class="row">
        <div class="col-md-4">

           {% if pitches %}
          {% for pitch in pitches %}
           <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{pitch.category}}</h5>
                    <p>{{pitch.title}}</p>
                    <p>{{pitch.content}}</p>
                </div>
           </div>
          {% endfor %}
         {% endif %}
        </div>
    </div>
</div>
{% endmacro %}