{% extends 'base.html' %}
{% block content %}
<h1>Welcome to your home page {{user.username}}</h1>
<!-- <button type="submit" class="btn btn-primary mb-2">Post a pitch</button>-->
<!--<button><a href="/profile"></a>Post a pitch</button>-->
 <a class="btn btn-outline-secondary text-white" href="/new_pitch"style="font-size:40px">New Pitch</a>
<a class="btn btn-outline-secondary text-white" href="/pitches"style="font-size:40px">view Pitch</a>
<!-- <button type="submit" class="btn btn-primary mb-2">View existing pitches</button>-->
{% endblock %}